@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700&display=swap');

#title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: white;
  margin-left: 60px;
  display: inline-block;
}
#search {
  width: 300px;
  margin-right: 15px;
}
.bold {
  font-weight: 600;
}
.smaller.delta {
  width: 2%;
  height: auto;
  position: relative;
}
.clickable {
  cursor: pointer;
}

.button {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-transition: background-color 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out,
    color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out,
    color 0.2s ease-in-out;
  float: left;
  background-color: transparent;
  font-family: 'Montserrat', sans-serif;
  border: none;
  /* border-radius: 30px; */
  box-shadow: inset 0 0 0 2px #fff;
  color: #fff;
  cursor: pointer;
  /* display: inline-block; */
  font-size: 1.25em;
  font-weight: 600;
  line-height: 0;
  padding: 0 1.75em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
.button:hover,
.button:active {
  box-shadow: inset 0 0 0 2px #017ef2;
  color: #017ef2;
  background-color: transparent;
}
@media only screen and (max-width: 1169px) {
  .hide-chip {
    display: none;
  }
}

@media only screen and (max-width: 960px) {
  .button-hide {
    display: none;
  }
}

.rounded-box {
  border-radius: 40px;
  padding: 20px;
  height: 60px;
  width: 88%;
  background: linear-gradient(
    90deg,
    #1eb8c9,
    #1eb8c9 15px,
    #ef4d67 15px,
    #ef4d67 30px,
    #fbd966 30px,
    #fbd966 45px,
    rgba(255, 255, 255, 0.2) 45px,
    rgba(255, 255, 255, 0.2) 45px
  );
  box-shadow: 5px 0px 5px 0px rgba(0, 0, 0, 0.1);
}

.heading {
  padding-top: 1px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: white;
  margin-left: 60px;
  display: inline-block;
  font-size: 2.5vw;
  margin: 0;
  line-height: 60px;
  text-decoration: none;
  transition: 0.5s;
  z-index: 99999;
  position: relative;
}

.heading:hover {
  opacity: 0.6;
}

.link {
  float: right;
  margin-right: 20px;
  font-size: 1.5vw;
  cursor: pointer;
  z-index: 99999;
  position: relative;
}

.nav-box {
  width: 83.5% !important;
  border-radius: 40px;
  background: rgba(255, 255, 255, 0.15);
  margin: 2.8% 3.6% 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.right-link {
  text-decoration: none;
  cursor: pointer;
  float: right;
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 1.5vw;
  font-weight: 600;
  margin-top: 38px;
  margin-right: 2vw;
  transition: 0.5s !important;
  z-index: 99999;
  position: relative;
}
.right-link:hover {
  opacity: 0.6;
}

h1 {
  font-size: 2vw;
}

@media only screen and (max-width: 900px) {
  .nav-box {
    /* width: 95% !important; */
    width: 90% !important;
  }
  .btnbox2 {
    display: none;
  }
  .extended {
    width: 80% !important;
  }
  .btnbox3 {
    display: block;
    padding-left: -20px !important;
  }
  .rounded-box {
    height: 60px;
    padding: 10px;
    width: auto !important;
  }
  #nav-box {
    height: 60px;
    margin: 3vw;
  }
  .link {
    display: none;
  }
  .heading {
    z-index: 99999;
    position: relative;
    font-size: 25px;
  }
  .right-link {
    display: none !important;
    font-size: 15px;
    margin-top: 30px;
    margin-right: 20px;
  }
}

/* mobile hamburger */

.dropbtn {
  background-color: transparent;
  /* color: black; */
  padding: 13px;
  font-size: 16px;
  border: none;
  font-family: 'Montserrat';
  z-index: 99999;
  position: relative;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: block;
  padding-right: 30px;
  float: right;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  /* visibility: hidden; */
  position: absolute;
  background-color: rgba(255, 255, 255, 0.9);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  /* border-bottom-left-radius: 10px 10px;
  border-bottom-right-radius: 10px 10px; */
  /* transition: visibility 0s, opacity 0.5s linear;
  opacity: 0; */
  width: 100vw;
}

/* Links inside the dropdown */
.dropdown-content a {
  /* color: black; */
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  float: none;
  margin-right: 0px;
  width: 30%;
  margin-left: 35%;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #dddd;
  -moz-border-radius: 422px;
  -webkit-border-radius: 42px;
  border-radius: 42px;
  visibility: visible;
  opacity: 1;
}
